# 基础依赖
streamlit==1.39.0
requests==2.32.3
numpy==2.2.6

# 向量数据库相关
faiss-cpu==1.11.0
sentence-transformers==5.0.0

# 百度文心API
appbuilder-sdk==1.1.0.1

# 其他依赖
python-dotenv==1.1.1
markdown-it-py==3.0.0
pygments==2.18.0
tqdm==4.66.5
pillow==10.4.0
jsonschema==4.23.0
transformers==4.51.3